<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Raleway" rel="stylesheet">
</head>
  <body>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>

    <div class="container-fluid">
    <%= yield %>
  </div>

  </body>
</html>
